<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<script type="text/javascript" src="/js/jquery-1.6.2.min.js" ></script>
	<script type="text/javascript" src="/js/jquery-1.tmpl.min.js" ></script>    
	<script type="text/javascript" src="/js/main.js" ></script>
	<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />	
  </head>
  <body>
    <%- body %>
  </body>
</html>