
 <form method="post" action="/authenticate">
 	<label for="user">Usuario</label>
	<input id="user" type="text" name="user[name]" value="pabloj.novas@telefonica.com"/>
	<br/>
	<label for="pass">Password</label>
	<input id="pass" type="password" name="user[pass]" />
	<br/>
	<input type="submit" value="Submit" />
 </form>

