<div class="page-header">
	<h1><%= project.name %></h1>

	<ul class="pills">
	    <li class="active"><a href="#">Dashboard</a></li>
	    <li><a href="/projects/<%= project.id %>/iterations">Sprints</a></li>
	    <li><a href="/projects/<%= project.id %>/stories">Historias</a></li>
    </ul>
</div>
<div class="row">
  <div class="span16">
  	[Estado del proyecto]
  </div>
</div>