 /* Override some defaults */
html, body {
	background-color: #eee;
}
body {
	padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
	text-align: center; /* center align it with the container */
}
.container {
	width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
	min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
	margin-left: 0;
	padding-left: 19px;
	border-left: 1px solid #eee;
}

.topbar .btn {
	border: 0;
}

.loading {

	margin: 20px auto;
	width:50px;
	height:50px;

	background-position:middle center;
	background-image: url('/images/ajax-loader.gif');
	background-repeat: no-repeat;
}

ul {
	list-style: none;	
}

ul.storyList {
	display: none;
}

a {
	cursor: pointer;
}


/* STORIES ***************************************/

.story {
	width: 550px;
	height: 300px;
	border: solid 1px #000;
	float: left;
	clear: both;
	margin: 10px;
}

	/* ---- HEADER */

	.story .header {
		width: 100%;
		height: 50px;
		position: relative;
		background-color: silver;
		color: yellow;
		border-bottom: solid 1px #000;
	}

		.story .header .release {
			position: absolute;
			top: 5px;
			left: 20px;
			font-size: 16px;
		}

		.story .header .itemNbr {
			position: absolute;
			bottom: 2px;
			right: 150px;	
			font-size: 12px;
		}

		.story .header .project {
			position: absolute;
			top: 2px;
			right: 10px;
			font-size: 28px;
		}


	/* ---- BODY */

	.story .body {
		width: 100%;
		height: 250px;
		float: left;
	}

		.story .body .left {
			width:415px;
			height: 250px;
			margin: 10px 0 0 10px;
			float: left;
		}

			.story .body .left .name {
				font-weight: bold;
				font-size:12px;
				height:50px;
				margin-bottom: 10px;
			}

			.story .body .left .description {
				font-size:10px;
				border:solid 2px #000;
				height: 96px;
				margin-bottom: 10px;
				padding: 2px;
			}

			.story .body .left .notes {
				font-size:10px;		
				border:solid 2px #000;	
				height: 46px;
				padding: 2px;
			}

		.story .body .right {
			width:100px;
			height: 250px;
			margin: 10px;
			float: right;
		}

			.story .body .right .priority {
				font-size:20px;
				text-align: center;	
				height:50px;
				border:solid 2px #000;
				margin-bottom: 10px;
				line-height:2;
			}

			.story .body .right .estimation {
				font-size:20px;
				text-align: left;	

				border:solid 2px #000;

				position: relative;
				padding-left:5px;
				height: 160px;
			}

			.story .body .right .estimation .bottom {
				width:100%;
				height:40px;

				position: absolute;
				bottom:0px;
				left: 5px;
			}

				.story .body .right .bottom span {
					font-size:14px;
					width: 100%;
					float: left;
				}

/* ***********************************************/

/* CHORE ***************************************/

.chore {
	width: 550px;
	height: 120px;
	border: solid 1px #000;
	float: left;
	clear: both;
	margin: 10px;
}

.release {
	background-color: silver;
}

	/* ---- HEADER */

	.chore .header {
		width: 100%;
		height: 50px;
		position: relative;
		background-color: silver;
		color: yellow;
		border-bottom: solid 1px #000;
	}

		.chore .header .release {
			position: absolute;
			top: 5px;
			left: 20px;
			font-size: 16px;
		}

		.chore .header .itemNbr {
			position: absolute;
			bottom: 2px;
			right: 150px;	
			font-size: 12px;
		}

		.chore .header .project {
			position: absolute;
			top: 2px;
			right: 10px;
			font-size: 28px;
		}


	/* ---- BODY */

	.chore .body {
		width: 100%;
		height: 50px;
		float: left;
	}

		.chore .body .left {
			width:415px;
			height: 50px;
			margin: 10px 0 0 10px;
			float: left;
		}

			.chore .body .left .name {
				font-weight: bold;
				font-size:12px;
				height:50px;
				margin-bottom: 10px;
			}

		.chore .body .right {
			width:100px;
			height: 50px;
			margin: 10px;
			float: right;
		}

			.chore .body .right .priority {
				font-size:20px;
				text-align: center;	
				height:50px;
				border:solid 2px #000;
				margin-bottom: 10px;
				line-height:2;
			}

/* ***********************************************/

/* LogIn */

#loginToken {
	display:none;
}

/* ***********************************************/


